<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../static/vendor/js/jquery-3.3.1.slim.min.js" defer></script>
    <script src="../static/vendor/js/popper.min.js" async></script>
    <link rel="stylesheet" href="../static/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/vendor/css/custom_back.css">
    <script src="../static/vendor/js/bootstrap.min.js" defer></script>
    <title>Work on ship</title>
</head>
<body>

<div class="big_banner_1">
    <div class="container" id="main_form">
        <div class="row justify-content-center col-sm-100% col-md-6 col-lg-12"
             style="top: 30%; margin-right: auto;margin-left: auto;">
            <form class="needs-validation" novalidate="" style="max-width: 728px; opacity: 0.9">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <input type="text" class="form-control" id="firstName" placeholder="First name" value=""
                               required="">
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <input type="text" class="form-control" id="lastName" placeholder="Last name" value=""
                               required="">
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">+380</span>
                        </div>
                        <input type="number" class="form-control" id="usernumber" placeholder="Number" required="">
                        <div class="invalid-feedback" style="width: 100%;">
                            Your username is required.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <input type="email" class="form-control" id="email" placeholder="you@example.com">
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Leave a request</button>
            </form>
        </div>
    </div>
</div>

</div>

<div class="big_banner_2 col-sm-100% col-md-6 col-lg-12">
    <div class="container" style="min-width: 345px; margin: auto">
        <div>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" style="height: 100%; width: 100%">
                    <div class="carousel-item active">
                        <img src="../static/images/sasha_1.JPG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" style="height: 100%; width: 100%">
                        <img src="../static/images/sasha_2.JPG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" style="height: 100%; width: 100%">
                        <img src="../static/images/sasha_3.JPG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" style="height: 100%; width: 100%">
                        <video width="320" height="240" class="video-fluid" autoplay loop muted>
                            <source src="../static/images/video_1.MOV" type="video/mp4"/>
                        </video>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="big_banner_3">
    <div class="container" style="min-width: 300px; margin: auto">>
        <div class="row justify-content-center col align-content-center"
             style="top: 15%">
            <main role="main" style="max-width: 728px; ">
                <div class="jumbotron">
                    <h3>Мотиваційний заголовок</h3>
                    <p class="text-xl-left text-md-left text-lg-left text-sm-left" style="max-width: 635px;">
                        Якщо ти це
                        читаєш - ти хочеш змінити своє життя!
                        Подорожувати і заробляти - реально!!!
                        Заповнюй коротку форму і ми одразу з тобою зв‘яжемось.</p>
                    <a class="btn btn-primary" href="#main_form" role="button">Залишити заявку »</a>
                    <hr class="mb-4">
                    <a target="_blank" rel="noopener noreferrer" class="btn btn-primary"
                       href="https://instagram.com/workonships?igshid=1r1z0br7afp76"
                       role="button">Написати нам прямо зараз »</a>
                </div>
            </main>
        </div>
    </div>
</div>

<div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://github.com/AndriiSkavreniuk">Creator</a>
</div>

</body>
</html>